@char-set "utf-8";
@char-set "utf-8";
.incart-btn {
  margin-top: 0; }
  .incart-btn a {
    background-color: #000; }

.skubutton {
  background-color: #000 !important; }

header#masthead {
  margin-bottom: 20px;
  border-bottom: none; }
  header#masthead .main-image {
    height: 350px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  header#masthead .inner.cf {
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 20px; }
    header#masthead .inner.cf .snav.cf {
      padding-top: 0;
      margin-right: 0; }
    header#masthead .inner.cf .site-description {
      float: none;
      width: auto;
      padding: 0;
      color: #000;
      background: none;
      font-weight: normal; }
    header#masthead .inner.cf .site-title {
      float: none;
      width: auto;
      padding: 0;
      text-align: left; }
  header#masthead #mainMenu #site-navigation .header-nav-container {
    width: 100%;
    box-sizing: border-box;
    background: none !important; }
  header#masthead #mainMenu #site-navigation .nav-menu-open {
    background-color: #eee !important; }
    header#masthead #mainMenu #site-navigation .nav-menu-open ul {
      padding: 0; }
      header#masthead #mainMenu #site-navigation .nav-menu-open ul li a {
        display: block;
        color: #000 !important; }

#main {
  width: 100%;
  box-sizing: border-box; }
  #main #primary #content {
    padding: 0; }
    #main #primary #content article {
      border-bottom: none; }

.itemimg a img {
  width: 100%;
  height: auto; }

#secondary {
  float: none;
  border-top: none; }
  #secondary h3 {
    border-bottom: none; }

h1.item_page_title {
  margin-bottom: 30px;
  font-size: 33px; }
