@char-set "utf-8";
@import "parts.scss";

body{
}

header#masthead{
    margin-bottom: 20px;
    border-bottom: none;
    .main-image{
        height: 350px;
        background: {
            repeat: no-repeat;
            position: center center;
            size: cover;
        }
    }
    
    .inner.cf{
        width: 100%;
        box-sizing: border-box;
        padding-bottom: 20px;
        .snav.cf{
            padding-top: 0;
            margin-right: 0;
        }
        .site-description{
            float: none;
            width: auto;
            padding: 0;
            color: #000;
            background: none;
            font-weight: normal;
        }
        .site-title{
            float: none;
            width: auto;
            padding: 0;
            text-align: left;
        }
    }
    
    #mainMenu{
        #site-navigation{
            .header-nav-container{
                width: 100%;
                box-sizing: border-box;
                background: none !important;
            }
            .nav-menu-open{
                background-color: #eee !important;
                ul{
                    padding: 0;
                    li{
                        a{
                            display: block;
                            //line-height: 25px;
                            //padding: 0 3%;
                            color: #000 !important;
                        }
                    }
                }
            }
        }
    }

}//header#masthead

#main{
    width: 100%;
    box-sizing: border-box;
    
    #primary{
        #content{
            padding: 0;
        }
    }
}

.itemimg{
    a{
        img{
            width: 100%;
            height: auto;
        }
    }
}

#secondary{
    float: none;
    border-top: none;
}


//-------------------------------------
//-------------------------------------
//商品詳細ページ
h1.item_page_title{
    margin-bottom: 30px;
    font: {
        size: 33px;
    }
}